<!DOCTYPE HTML>
<html>
<head lang='en'>
	<title>r/Spacex Mission Control</title>
	<link rel='icon' type='image/png' href='/icons/iss-16.png' sizes='16x16'>
	<link rel='icon' type='image/png' href='/icons/iss-32.png' sizes='32x32'>
	<link rel='stylesheet' href='css/packages.css'>
	<link rel='stylesheet' href='css/reddit_post.css'>
	<link rel='stylesheet' href='css/mde.css'>
	<link rel='stylesheet' href='css/styles.css'>
	<script async src="https://platform.twitter.com/widgets.js"></script>
	<script src='js/packages.js'></script>
	<script src='js/scripts.js'></script>
</head>
<body>
	<iframe class='youtube' src='https://youtube.com/embed/ivdKRJzl6y0?autoplay=0'></iframe>

	<section class='status'>
		<a href='#' onclick='document.body.classList.toggle("interface-left")'>
			<img id='interface-right' src='https://img.shields.io/badge/interface-right-grey.svg' alt='interface right'>
			<img id='interface-left' src='https://img.shields.io/badge/interface-left-grey.svg' alt='interface left'>
		</a>

		<span id='status-liveupdate'> <%# allow updates via AJAX later %>
			<%= render_erb 'sections/status' %>
		</span>
	</section>

	<section class='reddit'>
		<%= render_erb 'sections/live_post' %>
	</section>

	<section class='interface'>
		<textarea id='intro' data-initial='<%= if session[:intro] then session[:intro] else '# Welcome to the r/SpaceX ________ Official Launch Discussion & Updates Thread!' end %>'></textarea>
		<textarea id='viewing' data-initial='<%= if session[:viewing] then session[:viewing] else '### Watching the launch live' end %>'></textarea>

		<h3>### Live Updates
			<i class='fa fa-upload' title='Save to reddit' onclick='saveEvents()'></i>
			<i class='fa fa-minus' title='Remove top event' onclick='removeEvent()'></i>
			<i class='fa fa-plus' title='Add event at top' onclick='addEvent()'></i>
		</h3>
		<ul id='events'>
			<%# fetch from server if possible  %>
			<% if session[:events] %>
				<% events = session[:events] %>
				<% if events != nil %>
					<% events.each do |event| %>
						<% event = event[1] %>
						<% if event[1] == '' then continue end %>
						<% $message_symbols.each do |k,v| event[1][k] &&= v end %>
						<li><i class='sort-icon'></i>
							<span onclick='this.innerTML = this.innerHTML == T+" ? "T-" : "T+";'>T+</span><input value='<%= event[0][2..-1] %>'>
							Message: <input value='<%= event[1] %>'>
					<% end %>
				<% end %>
			<% else %>
				<li><i class='sort-icon'></i>
					<span onclick='this.innerHTML = this.innerHTML == "T+" ? "T-" : "T+";'>T+</span><input>
					Message: <input>
				</li>
			<% end %>
		</ul>

		<textarea id='stats' data-initial='<%= if session[:stats] then session[:stats] else '### Stats' end %>'></textarea>
		<textarea id='mission' data-initial='<%= if session[:mission] then session[:mission] else '### Mission' end %>'></textarea>
		<textarea id='landing' data-initial='<%= if session[:landing] then session[:landing] else '### Landing Attempt' end %>'></textarea>
		<textarea id='resources' data-initial='<%= if session[:resources] then session[:resources] else '### Resources' end %>'></textarea>
		<textarea id='participate' data-initial='<%= if session[:participate] then session[:participate] else '### Participate in the discussion!' end %>'></textarea>
	</section>

	<section class='logo'></section>

	<section class='twitter'>
		<a class='twitter-timeline' href='https://twitter.com/theZcuber/lists/r-spacex-mission-control'></a>
	</section>

	<i id='info-button' onclick='document.getElementById("info").showModal()'></i>
	<dialog id='info'><!-- Info will go here --></dialog>

</body>
</html>
