<!DOCTYPE HTML>
<html>
<head lang='en'>
	<title><%= _session[:launch] %> | r/Spacex Mission Control</title>
	<link rel='icon' type='image/png' href='/icons/iss-16.png' sizes='16x16'>
	<link rel='icon' type='image/png' href='/icons/iss-32.png' sizes='32x32'>
	<link rel='stylesheet' href='css/packages.css'>
	<link rel='stylesheet' href='css/reddit_post.css'>
	<link rel='stylesheet' href='css/mde.css'>
	<link rel='stylesheet' href='css/styles.css'>
	<script async src="https://platform.twitter.com/widgets.js"></script>
	<script src='js/packages.js'></script>
	<script src='js/scripts.js'></script>
	<%= if _session[:time] then "<script>window.launchTime = #{_session[:time]}</script>" end %>
</head>
<body>
	<iframe class='youtube' src='https://youtube.com/embed/<%= $sess_var[session[:id]][:video] %>?autoplay=0'></iframe>

	<section class='status'>
		<a href='#' onclick='document.body.classList.toggle("interface-left")'>
			<img id='interface-right' src='https://img.shields.io/badge/interface-right-grey.svg' alt='interface right'>
			<img id='interface-left' src='https://img.shields.io/badge/interface-left-grey.svg' alt='interface left'>
		</a>

		<span id='status-liveupdate'> <%# allow updates via AJAX later %>
			<%= render_erb 'sections/status' %>
		</span>
	</section>

	<section class='reddit'>
		<%= render_erb 'sections/live_post' %>
	</section>

	<section class='interface'>
		<textarea id='intro' data-initial='<%= if _session[:intro] then _session[:intro].gsub("'", "&apos;") else "# Welcome to the r/SpaceX #{_session[:launch]} Official Launch Discussion & Updates Thread!".gsub("'", "&apos;").gsub('"', '&quot;') end %>'></textarea>
		<textarea id='viewing' data-initial='<%= if _session[:viewing] then _session[:viewing].gsub("'", "&apos;") else '### Watching the launch live' end %>'></textarea>

		<h3>### Live Updates
			<i class='fa fa-upload' title='Save to reddit' onclick='saveEvents()'></i>
			<i class='fa fa-minus' title='Remove top event' onclick='removeEvent()'></i>
			<i class='fa fa-plus' title='Add event at top' onclick='addEvent()'></i>
		</h3>
		<ul id='events'>
			<%# fetch from server if possible  %>
			<% if _session[:events] %>
				<% events = _session[:events] %>
				<% if events != nil %>
					<% events.each do |event| %>
						<% event = event[1] %>
						<% if event[1] == '' then next end %>
						<% $message_symbols.each do |k,v| event[1][k] &&= v end %>
						<li><i class='sort-icon'></i>
							<span onclick='this.innerHTML = this.innerHTML == "T+" ? "T-" : "T+";'><%= event[0][0..1] %></span><input value='<%= event[0][2..-1].gsub("'", "&apos;") %>' onkeyup='saveIfEnter(event)'>
							Message: <input value='<%= event[1].gsub("'", "&apos;") %>' onkeyup='hotSwap(this); saveIfEnter(event);'>
					<% end %>
				<% end %>
			<% else %>
			<%# nothing stored on server, give a single blank event %>
				<li><i class='sort-icon'></i>
					<span onclick='this.innerHTML = this.innerHTML == "T+" ? "T-" : "T+";'>T+</span><input onkeyup='saveIfEnter(event)'>
					Message: <input onkeyup='hotSwap(this); saveIfEnter(event);'>
				</li>
			<% end %>
		</ul>

		<textarea id='stats' data-initial='<%= if _session[:stats] then _session[:stats].gsub("'", "&apos;") else '### Stats' end %>'></textarea>
		<textarea id='mission' data-initial='<%= if _session[:mission] then _session[:mission].gsub("'", "&apos;") else '### Mission' end %>'></textarea>
		<textarea id='landing' data-initial='<%= if _session[:landing] then _session[:landing].gsub("'", "&apos;") else '### Landing Attempt' end %>'></textarea>
		<textarea id='resources' data-initial='<%= if _session[:resources] then _session[:resources].gsub("'", "&apos;") else '### Resources' end %>'></textarea>
		<textarea id='participate' data-initial='<%= if _session[:participate] then _session[:participate].gsub("'", "&apos;") else '### Participate in the discussion!' end %>'></textarea>
	</section>

	<section class='logo'></section>

	<section class='timer unset' id='timer' onclick='setLaunchTime()'>Set launch time</section>

	<section class='twitter'>
		<a class='twitter-timeline' href='https://twitter.com/theZcuber/lists/r-spacex-mission-control'></a>
	</section>

	<i id='info-button' onclick='document.getElementById("info").showModal()'></i>
	<dialog id='info'><!-- Info will go here --></dialog>  <%# this will be where basic info about what can be clicked, basic functionality, etc. %>

</body>
</html>
