<% reddit = request.env['redd.session'] %>

<% if session[:post] %>
  <% post = post_info session[:post] %>
  <img src=https://img.shields.io/badge/comments-<%= post['num_comments'] %>-..svg?style=social alt='comments <%= post['num_comments'] %>'>
  <img src=https://img.shields.io/badge/post_score-<%= post['score'] %>-..svg?style=social alt='post score <%= post['score'] %>'>
<% end %>
<a href=/logout><img src=https://img.shields.io/badge/OAuth-u/<%= reddit.me.name.sub('_', '__').sub('-', '--') %>-..svg?colorB=22cc22 alt='OAuth u/<%= reddit.me.name %>'></a>
