<!DOCTYPE HTML>
<html>
<head lang=en>
	<title><%= session[:launch] %> | r/Spacex Mission Control</title>
	<link rel=icon type=image/png href=/icons/iss-16.png sizes=16x16>
	<link rel=icon type=image/png href=/icons/iss-32.png sizes=32x32>
	<link rel=stylesheet href=css/all.css>
	<script async src=https://platform.twitter.com/widgets.js></script>
	<script src=js/packages.js></script>
	<script src=js/scripts.js></script>
	<%= if session[:time] then "<script>window.time = #{session[:time]}</script>" end %>
</head>
<body>
	<iframe class=youtube src=https://youtube.com/embed/<%= session[:video] %>?autoplay=0></iframe>

	<section class=status>
		<a href=# onclick='document.body.classList.toggle("interface-left")'>
			<img id=interface-right src=https://img.shields.io/badge/interface-right-grey.svg alt='interface right'>
			<img id=interface-left src=https://img.shields.io/badge/interface-left-grey.svg alt='interface left'>
		</a>

		<span id=status-liveupdate> <%# allow updates via AJAX later %>
			<%= render_erb 'sections/status' %>
		</span>
	</section>

	<section class=reddit>
		<%= render_erb 'sections/live_post' %>
	</section>

	<section class=interface>
		<i id=info-button class='fa fa-info-circle' onclick='document.getElementById("info").showModal()'></i>
		<%= render_erb 'sections/interface' %>
	</section>

	<section class=logo></section>

	<section class='timer unset' id=timer onclick='document.getElementById("launchTime").showModal()'>Set launch time</section>

	<section class=twitter>
		<a class=twitter-timeline data-aria-polite=rude data-chrome='noheader nofooter noborders transparent' data-dnt=true	data-link-color=#005288 href=https://twitter.com/theZcuber/lists/r-spacex-mission-control></a>
	</section>

	<dialog id=info><%= render_erb 'sections/info' %></dialog>

	<dialog id=launchTime>
		<h2>Enter the launch time</h2>
		<span id='datetime-format'>(YYYY-MM-DD HH:MM:SS)<br></span>
		(in your timezone)
		<br><br>

		<input type=datetime-local id=datetime step=1><br/><br/> <%# step=1 displays seconds %>
		<button onclick='setLaunchTime(document.getElementById("datetime").value)'>Set time</button>
		<button onclick='setLaunchTime(null)'>Clear timer</button>
	</dialog>

</body>
</html>
