<!DOCTYPE HTML>
<html>
<head lang='en'>
	<title><%= _session[:launch] %> | r/Spacex Mission Control</title>
	<link rel='icon' type='image/png' href='/icons/iss-16.png' sizes='16x16'>
	<link rel='icon' type='image/png' href='/icons/iss-32.png' sizes='32x32'>
	<link rel='stylesheet' href='css/packages.css'>
	<link rel='stylesheet' href='css/reddit_post.css'>
	<link rel='stylesheet' href='css/mde.css'>
	<link rel='stylesheet' href='css/styles.css'>
	<script async src="https://platform.twitter.com/widgets.js"></script>
	<script src='js/packages.js'></script>
	<script src='js/scripts.js'></script>
	<%= if _session[:time] then "<script>window.launchTime = #{_session[:time]}</script>" end %>
</head>
<body>
	<iframe class='youtube' src='https://youtube.com/embed/<%= $sess_var[session[:id]][:video] %>?autoplay=0'></iframe>

	<section class='status'>
		<a href='#' onclick='document.body.classList.toggle("interface-left")'>
			<img id='interface-right' src='https://img.shields.io/badge/interface-right-grey.svg' alt='interface right'>
			<img id='interface-left' src='https://img.shields.io/badge/interface-left-grey.svg' alt='interface left'>
		</a>

		<span id='status-liveupdate'> <%# allow updates via AJAX later %>
			<%= render_erb 'sections/status' %>
		</span>
	</section>

	<section class='reddit'>
		<%= render_erb 'sections/live_post' %>
	</section>

	<section class='interface'>
		<%= render_erb 'sections/interface' %>
	</section>

	<section class='logo'></section>

	<section class='timer unset' id='timer' onclick='setLaunchTime()'>Set launch time</section>

	<section class='twitter'>
		<a class='twitter-timeline' data-aria-polite='rude' data-chrome='noheader nofooter noborders transparent' data-dnt='true' data-link-color='#005288' href='https://twitter.com/theZcuber/lists/r-spacex-mission-control'></a>
	</section>

	<i id='info-button' onclick='document.getElementById("info").showModal()'></i>
	<dialog id='info'><%= render_erb 'sections/info' %></dialog>

</body>
</html>
