<%# gsub on some strings isn't necessary now, but would be if text is added later %>

<ul id=tabs>
    <li onclick=showTab(this) class=current>All</li>
    <li onclick=showTab(this)>Events</li>
    <li onclick=showTab(this)>Sections</li>
</ul>

<section class=tab-section>
    <textarea id=intro data-initial='<%=
        if session[:intro]
            session[:intro].gsub("'", "&apos;")
        else
            "# Welcome to the r/SpaceX #{session[:launch]} Official Launch Discussion & Updates Thread!\n" \
            "| Liftoff currently scheduled for | |\n" \
            "| --- | --- |\n" \
            "| Weather | |\n" \
            "| Static fire | |\n" \
            "| Payload | |\n" \
            "| Payload mass | |\n" \
            "| Destination orbit | |\n" \
            "| Launch vehicle | |\n" \
            "| Core | |\n" \
            "| Flights of this core | |\n" \
            "| Launch site | |\n" \
            "| Landing attempt | |\n" \
            "| Landing site | |"
            .gsub("'", "&apos;")
        end
    %>'></textarea>
</section>

<section class=tab-events>
    <div class=headers>
        <h3 class=left>
            <i class='fa fa-upload' title='Save to reddit' onclick='saveEvents()'></i>
            ### Live Updates
            <i class='fa fa-minus' title='Remove top event' onclick='removeEvent()'></i>
            <i class='fa fa-plus' title='Add event at top' onclick='addEvent()'></i>
        </h3>

        <h3 class=right>
            <span> <%# only here for row-reverse in flex %>
                <%# various events %>
                <select id=events-dropdown>
                    <option>LOX loading started</option>
                    <option>LOX loading finished</option>
                    <option>RP-1 loading started</option>
                    <option>RP-1 loading finished</option>
                    <option value=Startup>Statup (T-60)</option>
                    <option>Liftoff</option>
                    <option>Max Q</option>
                    <option>MECO</option>
                    <option>Stage separation</option>
                    <option>Second stage ignition</option>
                    <option>Boostback startup</option>
                    <option>Boostback shutdown</option>
                    <option>Fairing separation</option>
                    <option>Reentry startup</option>
                    <option>Reentry shutdown</option>
                    <option>Landing startup</option>
                    <option>First stage transonic</option>
                    <option>Landing success</option>
                    <option>Landing failure</option>
                    <option>SECO</option>
                    <option>Second stage relight</option>
                    <option>SECO2</option>
                    <option>Dragon deploy</option>
                    <option>Payload deploy</option>
                    <option>Launch success</option>
                    <option>Launch failure</option>
                    <option>Launch director poll</option>
                    <option>Launch director "go"</option>
                    <option>Pressure OK</option>
                    <option>Ignition</option>
                    <option>Tower cleared</option>
                </select>

                <button onclick=std_message()>Add event</button>
            </span>

            <%# the "oh fuck" panel %>
            <span>
                <a href=# onclick=emergency(this)>RUD</a>
                <a href=# onclick=emergency(this)>Hold</a>
                <a href=# onclick=emergency(this)>Scrub</a>
            </span>
        </h3>
    </div>

    <ul id=events>
        <%# fetch from server if possible  %>
        <% if session[:events] && session[:events] != nil && session[:events].length > 0 %>
            <% session[:events].each do |event| %>
                <% next if event[2] == '' %>
                <li class=reverse><i class=sort-icon></i>
                    <span onclick='this.setAttribute("data-content", this.getAttribute("data-content") == "Posted" ? "Hidden" : "Posted");' data-content='<%= event[0] ? "Posted" : "Hidden" %>'></span>
                    <span onclick='this.innerHTML = this.innerHTML == "T+" ? "T-" : "T+";'><%= event[1][0..1] %></span><input value='<%= event[1][2..-1].gsub("'", "&apos;") %>' onkeyup='saveIfEnter(event); setSign(this);'>
                    <i class='fa fa-clock-o fa-fw' onclick=insertTime(this)></i>
                    <span>Message:</span> <div class='message' onkeyup=saveIfEnter(event) onkeydown=_tabEvent(event,this) oninput='hotSwap(this); addEventIfNeeded();' contenteditable><%= event[2] %></div>
            <% end %>
        <% else %>
        <%# nothing stored on server, give a single blank event %>
            <li class=reverse><i class=sort-icon></i>
                <span onclick='this.setAttribute("data-content", this.getAttribute("data-content") == "Posted" ? "Hidden" : "Posted");' data-content='Posted'></span>
                <span onclick='this.innerHTML = this.innerHTML == "T+" ? "T-" : "T+";'>T+</span><input onkeyup='saveIfEnter(event); setSign(this);'>
                <i class='fa fa-clock-o fa-fw' onclick=insertTime(this)></i>
                <span>Message:</span> <div class='message' onkeyup=saveIfEnter(event) onkeydown=_tabEvent(event,this) oninput='hotSwap(this); addEventIfNeeded();' contenteditable></div>
            </li>
        <% end %>
    </ul>
</section>

<section class=tab-section>
    <textarea id=viewing data-initial='<%=
        if session[:viewing]
            session[:viewing].gsub("'", "&apos;")
        else
            "### Watch the launch live\n" \
            "| Stream | Courtesy |\n" \
            "| --- | --- |"
            .gsub("'", "&apos;")
        end
    %>'></textarea>

    <textarea id=stats data-initial='<%=
        if session[:stats]
            session[:stats].gsub("'", "&apos;")
        else
            "### Stats"
            .gsub("'", "&apos;")
        end
    %>'></textarea>

    <textarea id=mission data-initial='<%=
        if session[:mission]
            session[:mission].gsub("'", "&apos;")
        else
            "### Primary Mission: Deployment of payload into correct orbit"
            .gsub("'", "&apos;")
        end
    %>'></textarea>

    <textarea id=landing data-initial='<%=
        if session[:landing]
            session[:landing].gsub("'", "&apos;")
        else
            "### Secondary Mission: Landing Attempt"
            .gsub("'", "&apos;")
        end
    %>'></textarea>

    <textarea id=resources data-initial='<%=
        if session[:resources]
            session[:resources].gsub("'", "&apos;")
        else
            "### Resources\n" \
            "| Link | Source |\n" \
            "| --- | --- |\n" \
            "| [Official press kit](https://spacex.com/) | SpaceX |"
            .gsub("'", "&apos;")
        end
    %>'></textarea>

    <textarea id=participate data-initial='<%=
        if session[:participate]
            session[:participate].gsub("'", "&apos;")
        else
            "### Participate in the discussion!\n" \
            "- First of all, launch threads are party threads! We understand everyone is excited, so we relax the rules in these venues. The most important thing is that everyone enjoy themselves\n" \
            "- Please constrain the launch party to this thread alone. We will remove low effort comments elsewhere!\n" \
            "- Real-time chat on our official Internet Relay Chat (IRC) [#SpaceX on Snoonet](https://kiwiirc.com/client/irc.snoonet.org/?nick=SpaceX_guest%7C?#SpaceX)\n" \
            "- Please post small launch updates, discussions, and questions here, rather than as a separate post. Thanks!" \
            "\n- Wanna talk about other SpaceX stuff in a more relaxed atmosphere? Head over to r/SpaceXLounge"
            .gsub("'", "&apos;")
        end
    %>'></textarea>
</section>

<template id=event-template>
    <li class=hidden><i class=sort-icon></i>
        <span onclick='this.setAttribute("data-content", this.getAttribute("data-content") == "Posted" ? "Hidden" : "Posted");' data-content='Hidden'></span>
        <span onclick='this.innerHTML = this.innerHTML == "T+" ? "T-" : "T+";'>T+</span><input onkeyup='saveIfEnter(event); setSign(this);'>
        <i class='fa fa-clock-o fa-fw' onclick=insertTime(this)></i>
        <span>Message:</span> <div class='message' onkeyup=saveIfEnter(event) onkeydown=_tabEvent(event,this) oninput='hotSwap(this); addEventIfNeeded();' contenteditable></div>
    </li>
</template>
